.idea
.vscode
target
build
*.so
*.lock
*.iml
*~
.project
scratch*
*.swp
.ipynb_checkpoints
*.pid
*.dump
*.beam
\#*#
*.Rproj
.Rproj.user
fort.*
solution.mod
.RData
.Rhistory
bin
obj
out
*.properties
web-export
GRTAGS
GPATH
GSYMS
GTAGS
EIFGENs
*.ecf
dayXX*